.footer {
    background-color: var(--footer-couleur);
    padding: 10px;
  }
  
  footer a {
    color: var(--gray-400);
    text-decoration: none;
  }

  .lignefooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer__list {
    display: flex;
    gap: var(--space3x);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__list4 {
    display: flex;
    gap: var(--space3x);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

.footerdate {
    text-align: center;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 0,61em;
    color: black;
}

.footeradr {
    text-align: center;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 0,61em;
    color: black;
}

.footerloi {
    text-align: center;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 0,61em;
    color: black;
}
  
  .footer__mentions {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--légende);
  }

  .footer__nom {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--légende);
  }
  
  .footer > *:not(:first-child) {
    margin-top: var(--space3x);
  }

  .hero_tiret {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--h4);
    color: black;
    margin-left: 50px;
    margin-right: 90px;
    text-align: start;
    line-height: 30px;
  }

.footimg {
    width: 40px;
	height: 40px;
    color: black;
}

.footimg2 {
    width: 60px;
	height: 60px;
    color: black;
}

.footer__list11 {
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.centrefoimg {
    margin-left: 150px;
}

.centrefoimg2 {
  margin-left: 160px;
  margin-right: 30px;
  margin-bottom: 10px;
}