.rondm2 {
    margin-right: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.span-mots-cles{
    margin-top: 10px;
    font-weight: bold;
    font-size: var(--h1);
    background-color: var(--violet-site);
    padding: 2px;
    border-radius: 3px;
    margin-left: 20px;
    vertical-align: center;
}

.texteglo {
    margin-right: 20px;
    margin-left: 20px;
    font-size: var(--h3);
}